.rodape {
  position: relative;
  top: 16px;
  background-color: rgb(204, 204, 204);
  color: rgb(250, 250, 250);
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}

div .carousel-inner {
  background-color: rgb(0, 0, 0);

}

body {
  background-color: rgb(204, 204, 204);
}

.img1 {
  position: relative;
  opacity: 55%;
  /* Vê o texto mais claramente acima do background */
}

form {
  position: relative;
  margin: 40px 0;
  right: 28%;
  left: 13%;

}


.botão {
  position: relative;
  top: 507px;
  left: 33%;
  width: 15%;
  padding: 15px 0;
  background: rgb(158, 7, 108);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
}

.botão:hover {
  background: rgb(190, 36, 157);
  transform: scale(1.2);
  transform: rotate(1deg);
}


.botao-login {
  position: relative;
  top: 11px;
  left: 0%;
  width: 20%;
  padding: 15px 0;
  background: rgb(191, 82, 255);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 9999;
}

.botao-login:hover {
  transform: scale(1.2);
  transform: rotate(1deg);
}

#esqueci {
  position: relative;
  top: 15px;
}

#espaco-teca {
  position: relative;
  font-size: 32px;
  color: #491577;
  font-family: fantasy;
  width: 9%;
  left: 46%;
  bottom: 166px;
}

#navbarNav {
  color: black;
}

h2 {
  color: black;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;

}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 37%;
  border-radius: 10px;
}

.checkbox {
  margin-right: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: rgb(218, 160, 0);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  transition: 1s background;
  cursor: pointer;
}

.enviar:hover {
  background: rgb(255, 200, 0);
  transform: scale(1.2);
  transform: rotate(1deg);
}

.cadastro {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 30%;
  bottom: 36px;
}

.cadastro :hover {
  cursor: pointer;
  transform: scale(1.0);
}

.required:after {
  content: " *";
  color: red;
}

.login {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.login :hover {
  cursor: pointer;
  transform: scale(1.0);
}

#fundo-body {
  background: white;
}

#faça-login {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 0%;
  bottom: 36px;

}

#wpp {
  position: relative;
  left: 23%;
  top: 143px;
  font-size: 30%;
}

#p-wpp {
  position: relative;
  left: 74%;
  top: 322px;
  color: #000;
  width: 4%;
}

.img-2 {
  position: relative;
  left: 33%;
  top: 194px;
  flex-wrap: wrap
}

#p-insta {
  position: relative;
  left: 81%;
  top: 183px;
  color: #000;
  width: 4%;


}

.img-3 {
  position: relative;
  left: 40%;
  top: 52px;
  flex-wrap: wrap;
}

#p-face {
  position: relative;
  left: 88%;
  top: 43px;
  color: #000;
  width: 4%;

}

#wpp :hover {
  transform: scale(1.2);
}

#insta :hover {
  transform: scale(1.2);
}

#face :hover {
  transform: scale(1.2);
}

#fundo-login {
  background: white;
}

.img-1 {
  position: relative;
  height: 50px;
  width: 50px;
  top: 238px;
  right: 2%;
  flex-wrap: wrap;
}

.logo-espaco {
  position: relative;
  width: 10%;
  height: 10%;
  top: 350px;
  right: 20%;
  flex-wrap: wrap;
}

#site {
  position: relative;
  bottom: 131px;
  color: #000;
  font-size: larger;
  left: 45%;
  width: 11%;
}

#tel {
  position: relative;
  font-size: 20px;
  color: #000;
  bottom: 150px;
  left: 44%;
  font-family: serif;
  width: 10%;
}

.fundo1 {
  background-color: rgb(201, 137, 239);
  position: relative;
  top: 0px;
  color: beige;
  width: 100%;
  text-align: center;
  height: 614px;
}

.fundo2 {
  background-color: rgb(104, 63, 141);
  position: relative;
  top: 0px;
  color: beige;
  width: 100%;
  text-align: center;
  height: 1065px;
}

.fundo3 {
  background-color: rgb(245, 199, 92);
  position: relative;
  top: 0px;
  color: beige;
  width: 100%;
  text-align: center;
  height: 802px;
}

#p-fundo1 {
  position: relative;
  font-size: 47px;
  right: 2%;
  width: 34%;
  color: black;
  font-family: serif;
  top: 20px;

}

#p-fundo2 {
  position: relative;
  font-size: 46px;
  top: 20px;
  right: 2%;

}

#p-fundo3 {
  position: relative;
  color: black;
  font-size: 29px;
  font-weight: bold;
  top: 84px;
  right: 74%;
}

#foto-sobre {
  position: relative;
  width: 557px;
  height: 304px;
  right: 33%;
  top: 49px;
  border: solid;
  border-color: #000;
  border-width: 4.15px;
}

#mapa {
  position: relative;
  width: 73%;
  right: 4%;
  height: 380px;
  top: 40px;
  border-radius: 15px;
  border: 3px solid black;
}

.borda-mapa {

  position: relative;
  width: 1401px;
  height: 384px;
  border: 5px solid #000;
  border-radius: 16px;
  display: flex;
  bottom: 940px;
  float: left;
  left: 174px;

}

#bolinha {
  position: relative;
  width: 439px;
  top: 149px;
  right: 32%;
  border: 4px solid rgb(244, 198, 92);

}



#p-bolinha {
  position: relative;
  font-size: 35px;
  font-family: -webkit-pictograph;
  right: 613px;
  top: 158px;
}


#esquiva {
  position: relative;
  width: 440px;
  bottom: 215px;
  right: 4%;
  border: 4px solid rgb(244, 198, 92);
}



#p-esquiva {
  position: relative;
  font-size: 35px;
  font-family: -webkit-pictograph;
  right: 83px;
  bottom: 206px;
}

#piscina {
  position: relative;
  width: 440px;
  height: 296px;
  bottom: 579px;
  left: 24%;
  border: 4px solid rgb(244, 198, 92);
}


#p-piscina {
  position: relative;
  font-size: 35px;
  font-family: -webkit-pictograph;
  left: 60%;
  bottom: 570px;
  width: 28%;
}

#p-sobre {
  position: relative;
  text-align: justify;
  font-size: 154%;
  bottom: 41%;
  width: 27%;
  left: 33%;
  color: black;
  font-family: cursive;
}

#agendar {
  position: relative;
  text-align: justify;
  font-size: 154%;
  bottom: 36%;
  width: 27%;
  left: 33%;
  color: black;
  font-weight: bold;
  font-family: cursive;
}

#p-regras {
  position: relative;
  right: 71%;
  width: 115%;
  top: 12%;
  text-align: initial;
  font-size: 28px;
  color: #000;
}

#orientacoes {
  position: relative;
  right: 71%;
  width: 115%;
  top: 16%;
  text-align: initial;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

#p-orientacoes {
  position: relative;
  right: 71%;
  width: 115%;
  top: 17%;
  text-align: initial;
  font-size: 28px;
  color: #000;
}

#p-info {
  position: relative;
  left: 36%;
  width: 28%;
  top: 28%;
  font-size: 31px;
  font-weight: bold;
  color: #000;
}

.bemvindos {
  position: relative;
  left: 26%;
  font-size: 59px;
  color: #fff;
  text-align: center;
  top: 362px;
  width: 717px;
  line-height: 30px;
  height: 30px;
  z-index: 9999;
}

#p-bemvindos {
  position: relative;
  color: #fff;

  top: 465px;
  width: 572px;
  left: 27%;
  font-size: 29px;
  z-index: 9999;
}

.regras {
  position: relative;
}